# Flutter & Dart
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.pub/
build/
*.lock

# IDEs
.vscode/
.idea/
*.iml

# Android
android/.gradle/
android/local.properties
android/key.properties
**/android/**/build/

# iOS/macOS
ios/Flutter/.last_build_id
ios/Flutter/ephemeral/
ios/Pods/
ios/.generated/
ios/**/xcuserdata/
macos/Flutter/ephemeral/
macos/Pods/
macos/**/xcuserdata/

# Windows/Linux
windows/flutter/generated_*
linux/flutter/generated_*

# Web
web/generated/

# Outros
*.log
*.swp
.DS_Store
coverage/

# Obfuscation & symbol files
app.*.map.json
app.*.symbols

# Android native build artifacts
**/android/**/cmake-build-debug/
**/android/**/intermediates/
**/android/**/ninja/
**/android/**/gradle/
**/android/**/captures/
**/android/**/obj/
**/android/app/.cxx/**